@font-face {
    font-family: 'MuseoSansCyrl';
    src: url(../fonts/ofont.ru_Museo\ Sans\ Cyrl\ 500.ttf);
}

@font-face {
    font-family: 'MuseoSansCyrlBold';
    src: url(../fonts/ofont.ru_Museo\ Sans\ Cyrl\ 700.ttf);
}
a{
    color: #6933DC;
}

body{
    color: #333333;
    margin: 0px;
    font-family: 'MuseoSansCyrl', sans-serif;
}


.header {
    padding: 42px 0px 40px;
    border-bottom: 1px solid #DCDCF3;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
      color: #DCDCF3;
  }

  .button {
    padding: 14px 35px;
    background-color: rgba(105, 51, 220, 1);
    border-radius: 6px;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    text-decoration: none;
}
a.button{
    display: inline-block;
} 
.button:hover{
    background-color: rgb(83, 40, 173);

}
.button-transparent {
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;
}
.button-transparent:hover {
    background: #6933DC;
    color: #FFFFFF;
}
.button-transparent:disabled{
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;
    cursor: no-drop;
}
.common-title {
    font-family: 'MuseoSansCyrlBold', sans-serif;
    font-size: 48px;
    line-height: 58px;
    color: #333333;
}
.common-title span{
    color: #6933DC;
}
.big-title{
    font-family: 'MuseoSansCyrlBold', sans-serif;
    font-size: 54px;
    line-height: 65px;
}
.big-title span{
    color: rgba(105, 51, 220, 1);
}

.test-question {
}
.test-question-title {
    font-size: 36px;
    line-height: 43px;
    font-family: 'MuseoSansCyrlBold', sans-serif;
}
.test-question-title  span{
    color: #6933DC;
}
.test-question-options {
    margin-top: 58px;
    min-height: 344px;
}
.test-question-option {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
}
.test-question-option label{
    cursor: pointer;
}
.test-actions {
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
