
    <section class="choice">
        <div class="container">
            <div class="choice-content">
                <h1 class="common-title choice-title">Выберите <span>тему текста</span></h1>
                <div class="choice-description">Чтобы начать тест, выберите одну из предложенных ниже тем.</div>
                <div class="choice-options" id="choice-options">
                    
                </div>
            </div>
            <div class="chice-img">
                <img src="img/choice/Choice.png" alt="people">
            </div>
        </div>
    </section>
